body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 10px;
    background: url('https://www.transparenttextures.com/patterns/cubes.png') repeat; /* Kichik kvadratchali orqa fon rasmi */
    background-color: rgb(1, 4, 47);
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}
.info {
    margin-top: 20px;
}
.info div {
    background: rgba(233, 236, 239, 0.9);
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}
h2 {
    margin: 0 0 10px 0;
}
p {
    margin: 5px 0;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 5px 0;
}